@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');

html, body {
    width: 80%;
    height: 80%;
    font-family: 'Nanum Pen Script', serif;
    font-size: 30pt;
}

#main {
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
}

#state {
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 600px;
    height: 60px;
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px #000000;
}

#input {
    display: inline;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}

#button {
    position: relative;
    top: 3px;
    padding: 2px;
    display: inline;
    color: #000000;
    background-color: #fe895e;
    border-radius: 5pt;
}
